@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Manrope:wght@300;400;500;700&family=Poppins:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

.light-shadow {
    box-shadow: 0 30px 30px rgba(93, 95, 239, 0.25);
}

.category {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.01);
    transition: 0.3s ease;
}

.category:hover {
    box-shadow: 0px 30px 40px rgba(93, 95, 239, 0.12);
}

.service-card,
.menu {
    transition: 0.3s ease;
}

.service-card:hover {
    background: #fff;
    box-shadow: 0px 30px 40px rgba(93, 95, 239, 0.12);
}

.blur-box {
    background: rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(20px);
    border-radius: 16px;
    transition: 0.3s ease;
}

.blur-box:hover {
    box-shadow: 0px 30px 40px rgba(93, 95, 239, 0.12);
}

.text-box {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 110.121px 88.0972px rgba(0, 0, 0, 0.03),
        0px 71.375px 51.5939px rgba(0, 0, 0, 0.0227778),
        0px 42.4172px 28.0606px rgba(0, 0, 0, 0.0182222),
        0px 22.0243px 14.3158px rgba(0, 0, 0, 0.015),
        0px 8.97286px 7.17829px rgba(0, 0, 0, 0.0117778),
        0px 2.03929px 3.46679px rgba(0, 0, 0, 0.00722222);
    backdrop-filter: blur(32px);
}

.hero-circle:first-child {
    animation: heroPurpCircle 20s ease infinite;
}

.hero-circle:nth-child(2) {
    animation: heroPinkCircle 20s ease infinite;
}

@keyframes heroPurpCircle {
    0% {
        transform: none;
    }

    50% {
        transform: translate(20px, 20px);
    }

    100% {
        transform: none;
    }
}

@keyframes heroPinkCircle {
    0% {
        transform: none;
    }

    50% {
        transform: translate(-20px, -20px);
    }

    100% {
        transform: none;
    }
}
